In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Initializing Data

In [6]:
random_data = {"Name":["Abhinav","Abhishek","Agasthya","Aryan"],
              "Branch" : ["CSE AIML","CSE","ME","CE"],
              "Roll No":[1,2,3,3]}

In [ ]:
# Converting into DataFrame

In [7]:
data = pd.DataFrame(random_data)

In [8]:
print(data)

       Name    Branch  Roll No
0   Abhinav  CSE AIML        1
1  Abhishek       CSE        2
2  Agasthya        ME        3
3     Aryan        CE        3

In [ ]:
# ----------------------- Data Info --------------------------

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     4 non-null      object
 1   Branch   4 non-null      object
 2   Roll No  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

In [ ]:
# ---------------------- Data Describing -----------------------

In [10]:
print(data.describe())

        Roll No
count  4.000000
mean   2.250000
std    0.957427
min    1.000000
25%    1.750000
50%    2.500000
75%    3.000000
max    3.000000

In [ ]:
# Checks whether the entire row is manipulated

In [11]:
print(data.duplicated())

0    False
1    False
2    False
3    False
dtype: bool

In [ ]:
# Check for the specific column

In [12]:
print(data["Roll No"].duplicated())

0    False
1    False
2    False
3     True
Name: Roll No, dtype: bool

In [ ]:
# Will the the total count of the duplicated value

In [13]:
print(data["Roll No"].duplicated().sum())

1

In [ ]:
# No change in the data

In [14]:
print(data)

       Name    Branch  Roll No
0   Abhinav  CSE AIML        1
1  Abhishek       CSE        2
2  Agasthya        ME        3
3     Aryan        CE        3

In [ ]:
# -------------- Removing Duplicate values from Roll No Column ----------------

In [16]:
data.drop_duplicates("Roll No")

       Name    Branch  Roll No
0   Abhinav  CSE AIML        1
1  Abhishek       CSE        2
2  Agasthya        ME        3

In [18]:
# -------------- Printing Data Value ---------------------------

In [ ]:
# No change in the original data

In [17]:
print(data)

       Name    Branch  Roll No
0   Abhinav  CSE AIML        1
1  Abhishek       CSE        2
2  Agasthya        ME        3
3     Aryan        CE        3