In [81]:
import pandas as pd

In [79]:
# Already return the data frame
df = pd.read_csv("data.csv")
print(df)

    TransactionID           Name TransactionDate  Amount    Description
0               1   Rahul Sharma      2024-07-01    1500      Groceries
1               2    Priya Gupta      2024-07-02    2000    Electronics
2               3     Ravi Kumar      2024-07-03     500         Travel
3               4   Anjali Mehta      2024-07-04    3000       Shopping
4               5     Amit Singh      2024-07-05    1000      Utilities
5               6   Rahul Sharma      2024-07-06    1500      Groceries
6               7     Neha Verma      2024-07-07    2500        Medical
7               8  Siddharth Rao      2024-07-08    1200      Education
8               9    Priya Gupta      2024-07-02    2000    Electronics
9              10     Ravi Kumar      2024-07-09     800  Entertainment
10             11   Anjali Mehta      2024-07-04    3000       Shopping
11             12     Amit Singh      2024-07-10     500      Transport
12             13     Neha Verma      2024-07-11    1500      Groceries
13             14  Siddharth Rao      2024-07-12    2200      Insurance
14             15   Rahul Sharma      2024-07-13    1500      Groceries
15             16    Priya Gupta      2024-07-14    3500      Furniture
16             17     Ravi Kumar      2024-07-03     500         Travel
17             18   Anjali Mehta      2024-07-15    3000       Shopping
18             19     Amit Singh      2024-07-16    2000    Electronics
19             20     Neha Verma      2024-07-17    3000       Shopping

In [21]:
# ------------------------- Will not raise an Error --------------------------
data  = pd.DataFrame(df)
print(data)

    TransactionID           Name TransactionDate  Amount    Description
0               1   Rahul Sharma      2024-07-01    1500      Groceries
1               2    Priya Gupta      2024-07-02    2000    Electronics
2               3     Ravi Kumar      2024-07-03     500         Travel
3               4   Anjali Mehta      2024-07-04    3000       Shopping
4               5     Amit Singh      2024-07-05    1000      Utilities
5               6   Rahul Sharma      2024-07-06    1500      Groceries
6               7     Neha Verma      2024-07-07    2500        Medical
7               8  Siddharth Rao      2024-07-08    1200      Education
8               9    Priya Gupta      2024-07-02    2000    Electronics
9              10     Ravi Kumar      2024-07-09     800  Entertainment
10             11   Anjali Mehta      2024-07-04    3000       Shopping
11             12     Amit Singh      2024-07-10     500      Transport
12             13     Neha Verma      2024-07-11    1500      Groceries
13             14  Siddharth Rao      2024-07-12    2200      Insurance
14             15   Rahul Sharma      2024-07-13    1500      Groceries
15             16    Priya Gupta      2024-07-14    3500      Furniture
16             17     Ravi Kumar      2024-07-03     500         Travel
17             18   Anjali Mehta      2024-07-15    3000       Shopping
18             19     Amit Singh      2024-07-16    2000    Electronics
19             20     Neha Verma      2024-07-17    3000       Shopping

In [83]:
# ----------------------- Meta Data of DataSet ------------------------
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    20 non-null     int64
 1   Name             20 non-null     object
 2   TransactionDate  20 non-null     object
 3   Amount           20 non-null     int64
 4   Description      20 non-null     object
dtypes: int64(2), object(3)
memory usage: 932.0+ bytes

In [85]:
# --------------------- Mathematical Statistical Description of the Data -----------------------------
data.describe()

       TransactionID       Amount
count       20.00000    20.000000
mean        10.50000  1835.000000
std          5.91608   941.038061
min          1.00000   500.000000
25%          5.75000  1150.000000
50%         10.50000  1750.000000
75%         15.25000  2625.000000
max         20.00000  3500.000000

In [87]:
# ---------------- Chech for the duplicated row (entire row) ---------------------------
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [57]:
# ------------------- Check for duplicated data in [Description] Column ----------------
data["Description"].duplicated()

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8      True
9     False
10     True
11    False
12     True
13    False
14     True
15    False
16     True
17     True
18     True
19     True
Name: Description, dtype: bool

In [64]:
# Total the total number of duplicate value in [Description] column
data["Description"].duplicated().sum()

9

In [67]:
# Give top 5 element from beginning
print(data.head())

   TransactionID          Name TransactionDate  Amount  Description
0              1  Rahul Sharma      2024-07-01    1500    Groceries
1              2   Priya Gupta      2024-07-02    2000  Electronics
2              3    Ravi Kumar      2024-07-03     500       Travel
3              4  Anjali Mehta      2024-07-04    3000     Shopping
4              5    Amit Singh      2024-07-05    1000    Utilities

In [70]:
# Give last 5 element in the ending
print(data.tail())

    TransactionID          Name TransactionDate  Amount  Description
15             16   Priya Gupta      2024-07-14    3500    Furniture
16             17    Ravi Kumar      2024-07-03     500       Travel
17             18  Anjali Mehta      2024-07-15    3000     Shopping
18             19    Amit Singh      2024-07-16    2000  Electronics
19             20    Neha Verma      2024-07-17    3000     Shopping

In [73]:
# ----------------------- Give top 3 elements -------------------------
print(data.head(3))

   TransactionID          Name TransactionDate  Amount  Description
0              1  Rahul Sharma      2024-07-01    1500    Groceries
1              2   Priya Gupta      2024-07-02    2000  Electronics
2              3    Ravi Kumar      2024-07-03     500       Travel

In [76]:
# ------------------------- Give last 3 elements -------------------------
print(data.tail(3))

    TransactionID          Name TransactionDate  Amount  Description
17             18  Anjali Mehta      2024-07-15    3000     Shopping
18             19    Amit Singh      2024-07-16    2000  Electronics
19             20    Neha Verma      2024-07-17    3000     Shopping

In [91]:
# print isNull
print(data.isnull())

    TransactionID   Name  TransactionDate  Amount  Description
0           False  False            False   False        False
1           False  False            False   False        False
2           False  False            False   False        False
3           False  False            False   False        False
4           False  False            False   False        False
5           False  False            False   False        False
6           False  False            False   False        False
7           False  False            False   False        False
8           False  False            False   False        False
9           False  False            False   False        False
10          False  False            False   False        False
11          False  False            False   False        False
12          False  False            False   False        False
13          False  False            False   False        False
14          False  False            False   False        False
15          False  False            False   False        False
16          False  False            False   False        False
17          False  False            False   False        False
18          False  False            False   False        False
19          False  False            False   False        False

In [98]:
print(data.isnull().sum())

TransactionID      0
Name               0
TransactionDate    0
Amount             0
Description        0
dtype: int64

In [109]:
print(data["Amount"].mean())

1835.0